<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật thông tin nhân viên</title>
</head>
<body>
<div layout:fragment="content">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-file-text-o"></i> Chỉnh sửa thông tin nhân viên</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/admin/home}">Home</a></li>

                        <li><i class="fa fa-file-text-o"></i>Cập nhật</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Cập nhật thông tin nhân viên
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal" th:action="@{/admin/employees/update}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" th:value="${employee.id}" class="form-control">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Tên gọi</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:value="${employee.nickName}" name="nickName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Họ</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="lastName" th:value="${employee.lastName}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Tên đệm & Tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" required name="firstName" th:value="${employee.firstName}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hình ảnh đang sử dụng</label>
                                    <div class="col-sm-10">
                                        <img th:src="${employee.thumbnailUrl}" style="width:500px; height:750px;" alt="">
                                        <input type="hidden" class="form-control" name="thumbnailUrl" th:value="${employee.thumbnailUrl}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hình ảnh mới</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" name="file" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Số điện thoại</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" pattern="(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}" name="phoneNumber" title="Số điện thoại không đúng định dạng" required th:value="${employee.phoneNumber}" >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Chức vụ</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="role">
                                            <option th:each="r:${roleList}" th:value="${r}" th:text="${r}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required title="Email không đúng định dạng" th:value="${employee.email}">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Mật khẩu</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" title="Chứa ít nhất một số thứ tự, một chữ viết hoa và một chữ viết thường, ít nhất 8 ký tự" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" th:required="required" th:value="${employee.password}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Địa chỉ nhà</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="homeAddress" th:value="${employee.homeAddress}" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">(<span style="color:red;">*</span>)Ngày sinh</label>
                                    <div class="col-sm-10">

                                        <input type="date" class="form-control" name="dateOfBirth" th:value="${#temporals.format(employee.dateOfBirth,'yyyy-MM-dd')}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Đang hoạt động</label>
                                    <div class="col-sm-10">

                                        <input style="width: 20px" type="checkbox" class="checkbox form-control" th:checked="${employee.isActive()}" name="active">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nhận online booking</label>
                                    <div class="col-sm-10">

                                        <input style="width: 20px" type="checkbox" class="checkbox form-control" th:checked="${employee.isOnlineBookingAvailable()}" name="onlineBookingAvailable">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Giới tính</label>
                                    <div class="col-sm-10">

                                        <div class="radios">
                                            <label class="label_radio" for="radio-01">
                                                <input name="gender" th:checked="${employee.getGender()}=='male'" value="male" id="radio-01" type="radio"/> Nam
                                            </label>
                                            <label class="label_radio" for="radio-02">
                                                <input name="gender" th:checked="${employee.getGender()}=='female'" value="female" id="radio-02" type="radio"/> Nữ
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">CẬP NHẬT</button>
                                        <a class="btn btn-default" th:href="@{/admin/employees}">HỦY</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</div>
</body>
</html>