<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Employee list</title>
</head>
<body>
<div layout:fragment="content">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> Barberia's employee</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-bars"></i>Employee list</li>
                    </ol>
                </div>
            </div>
            <!-- page start-->
            <h1>Employee list</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"
                    data-whatever="@mdo">New employee
            </button>
            <div th:if="${message}" class="alert alert-success">
                <strong>Success!</strong> Email is sent!
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Thumbnail</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Phone number</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Is Working</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee:${employees}">
                    <td th:text="${employee.id}"></td>
                    <td><img th:src="${employee.thumbnailUrl}" style="width: 100px;height: 150px;" alt="thumbnail"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.phoneNumber}"></td>
                    <td th:text="${employee.homeAddress}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:if="${employee.role}=='ROLE_ADMIN'"><span style="color:#e74c3c;font-weight:bold;">ADMIN</span></td>
                    <td th:if="${employee.role}=='ROLE_STAFF'"><span style="color:#2ecc71;font-weight:bold;">Hairdresser</span></td>
                    <td th:if="${employee.role}=='ROLE_MANAGER'"><span style="color:#2980b9;font-weight:bold;">Manager</span></td>
                    <td th:if="${employee.role}=='ROLE_VISITOR'"><span style="color:#9b59b6;font-weight:bold;">Visitor</span></td>
                    <td th:text="${employee.isActive}?'ĐANG HOẠT ĐỘNG':'NGƯNG LÀM'"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" th:href="@{/admin/employees/findById/(id=${employee.id})}"
                               id="editButton" title="Cập nhật nhân viên"><i class="icon_pencil-edit"></i>Edit</a>
                            <a class="btn btn-info" th:href="@{'/admin/employees/sendmail/'+${employee.id}}" title="Gửi email nhân viên" id="detailsButton"><i class="icon_document_alt"></i>Send email</a>
                            <a class="btn btn-danger" th:href="@{/admin/employees/deactive/(id=${employee.id})}"
                               id="deactiveButton" title="Ngưng làm việc"><i class="icon_close_alt2"></i></a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
<!--    <div class="text-right">-->
<!--        <div class="credits">-->
<!--            &lt;!&ndash;-->
<!--              All the links in the footer should remain intact.-->
<!--              You can delete the links only if you purchased the pro version.-->
<!--              Licensing information: https://bootstrapmade.com/license/-->
<!--              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin-->
<!--            &ndash;&gt;-->
<!--            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--        </div>-->
<!--    </div>-->
    </section>
    <!-- container section end -->
    <!-- add modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/employees}" method="post" th:object="${employee}" enctype="multipart/form-data">

                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Nick name:</label>
                            <input type="text" class="form-control" title="Không được để trống" th:field="*{nickName}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Last name:</label>
                            <input type="text" class="form-control" title="Không được để trống" th:field="*{lastName}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)First name:</label>
                            <input type="text" class="form-control" title="Không được để trống" th:field="*{firstName}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Avatar:</label>
                            <input type="file" class="form-control" title="Không được để trống" name="file" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Phone number :</label>
                            <input type="text" class="form-control" pattern="(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}" required title="Số điện thoại không đúng định dạng" th:field="*{phoneNumber}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Role:</label>

                            <select class="form-control" th:field="*{role}">
                                <option th:each="r:${roleList}" th:value="${r}" th:text="${r}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Email:</label>
                            <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required title="Email không đúng định dạng" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Password:</label>
                            <input type="password" class="form-control" required title="Chứa ít nhất một số thứ tự, một chữ viết hoa và một chữ viết thường, ít nhất 8 ký tự" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Confirmed Password:</label>
                            <input type="password" class="form-control" required title="Chứa ít nhất một số thứ tự, một chữ viết hoa và một chữ viết thường, ít nhất 8 ký tự" name="confirmedPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Addredd:</label>
                            <input type="text" class="form-control" th:field="*{homeAddress}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">(<span style="color:red;">*</span>)Date Of Birth:</label>
                            <input type="date" class="form-control" th:field="*{dateOfBirth}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Working:</label>
                            <input type="checkbox" class="form-check-input" th:field="*{active}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Online booking available:</label>
                            <input type="checkbox" class="form-check-input" th:field="*{onlineBookingAvailable}"
                                   checked>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Sex:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" class="form-check-input" required checked="checked" th:field="*{gender}" value="male"> Nam&nbsp;
                            <input type="radio" class="form-check-input" required th:field="*{gender}" value="female"> Nữ
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Insert new</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <!--delete modal-->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ngưng hoạt động</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn cho nhân viên ngưng hoạt động?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="confirmDeleteButton" href="">Có, hoàn tất</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<scriptt src="/admin/myjs/employee.js"></scriptt>
</body>
</html>