<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
</head>
<body>
<div layout:fragment="content">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-bars"></i>Pages</li>
                        <li><i class="fa fa-square-o"></i>Pages</li>
                    </ol>
                </div>
            </div>
            <!-- page start-->
            <h1>Danh sách nhân viên</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"
                    data-whatever="@mdo">Thêm nhân viên mới
            </button>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ảnh</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Điện Thoại</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Hoạt động</th>
                    <th>Tác vụ</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee:${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.thumbnailUrl}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.phoneNumber}"></td>
                    <td th:text="${employee.homeAddress}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.isActive}?'ĐANG HOẠT ĐỘNG':'NGƯNG HOẠT ĐỘNG'"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" th:href="@{/admin/employees/findById/(id=${employee.id})}"
                               id="editButton"><i class="icon_pencil-edit"></i></a>
                            <a class="btn btn-info" id="detailsButton"><i class="icon_document_alt"></i></a>
                            <a class="btn btn-danger" th:href="@{/admin/employees/deactive/(id=${employee.id})}"
                               id="deactiveButton"><i class="icon_close_alt2"></i></a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
    <div class="text-right">
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
    </section>
    <!-- container section end -->
    <!-- add modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm Nhân Viên Mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/employees/addNew}" method="post" th:object="${employee}">

                        <div class="form-group">
                            <label class="col-form-label">Tên gọi:</label>
                            <input type="text" class="form-control" th:field="*{nickName}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Họ:</label>
                            <input type="text" class="form-control" th:field="*{firstName}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tên:</label>
                            <input type="text" class="form-control" th:field="*{lastName}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Số điện thoại :</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Chức vụ:</label>

                            <select class="form-control" th:field="*{role}">
                                <option th:each="r:${roleList}" th:value="${r}" th:text="${r}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email:</label>
                            <input type="email" class="form-control" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Mật khẩu:</label>
                            <input type="password" class="form-control" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Địa chỉ nhà:</label>
                            <input type="text" class="form-control" th:field="*{homeAddress}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Ngày sinh:</label>
                            <input type="date" class="form-control" th:field="*{dateOfBirth}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Hoạt động:</label>
                            <input type="checkbox" class="form-check-input" th:field="*{active}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Nhận online booking:</label>
                            <input type="checkbox" class="form-check-input" th:field="*{onlineBookingAvailable}"
                                   checked>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Giới tính:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" class="form-check-input" checked th:field="*{gender}" value="male"> Nam&nbsp;
                            <input type="radio" class="form-check-input" th:field="*{gender}" value="female"> Nữ
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <!--delete modal-->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ngưng hoạt động</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn cho nhân viên ngưng hoạt động?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="confirmDeleteButton" href="">Có, hoàn tất</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<scriptt src="/admin/myjs/employee.js"></scriptt>
</body>
</html>