<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/admin/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Dashboard</li>
                    </ol>
                </div>
            </div>

            <div class="row">


                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box green-bg">
                        <div class="row">
                            <div class="col-xs-3"><i class="fa fa-usd" style="font-size: 30px;"
                                                     aria-hidden="true"></i></div>
                            <div class="col-xs-9">
                                <div style="font-size:24px;" class="count"
                                     th:text="${#numbers.formatDecimal(totalAllPayment,0,'COMMA',0,'POINT')}+' VNĐ'">
                                    4,362,000 vnđ
                                </div>
                                <div class="title">Tổng hóa đơn</div>
                            </div>
                        </div>

                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <a th:href="@{/admin/online-bookings}" style="cursor: pointer;">
                            <div class="row">
                                <div class="col-xs-3"><i class="fa fa-address-book" style="font-size: 30px;"
                                                         aria-hidden="true"></i></div>
                                <div class="col-xs-9">
                                    <div style="font-size:30px;" class="count" th:text="${numberOfOnlineBookings}">39
                                    </div>
                                    <div class="title">Lịch hẹn online</div>
                                    <div class="">(Click vào để tới danh sách)</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <div class="row">
                            <div class="col-xs-3"><i class="fa fa-shopping-cart" style="font-size: 30px;"
                                                     aria-hidden="true"></i></div>
                            <div class="col-xs-9">
                                <div style="font-size:24px;" class="count" th:text="${numberOfPayments}">190</div>
                                <div class="title">Hóa đơn đã thanh toán</div>
                            </div>
                        </div>

                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <div class="row">
                            <div class="col-xs-3"><i class="fa fa-users" style="font-size: 30px;"
                                                     aria-hidden="true"></i></div>
                            <div class="col-xs-9">
                                <div style="font-size:24px;" class="count" th:text="${numberOfEmployees}">8</div>
                                <div class="title">Số nhân viên</div>
                            </div>
                        </div>

                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->


            </div>
            <!--/.row-->


            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-home"></i> THÔNG TIN SALON</h3>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg" style="background-color: #7bed9f;">
                        <div class="row">
                            <div class="col-xs-4"><i class="fa fa-play"></i></div>
                            <div class="col-xs-7">
                                <div class="count" th:text="${salon.opened}?'Đang hoạt động':'Tạm dừng'">Đang hoạt
                                    động
                                </div>
                            </div>
                        </div>

                        <!-- <div class="count">6.674</div> -->

                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->


                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg" style="background-color: #70a1ff;">
                        <div class="row">
                            <div class="col-xs-4"><i class="fa fa-play"></i></div>
                            <div class="col-xs-7">
                                <div class="count"
                                     th:text="${salon.availableForOnlineBooking}?'Đang mở đặt hẹn online':'Đang tắt đặt hẹn online'">
                                    Mở đặt hẹn online
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg" style="background-color: #eccc68;">
                        <div class="row">
                            <div class="col-xs-4"><i class="fa fa-play"></i></div>
                            <div class="col-xs-7">
                                <div class="count">
                                    <div class="count">8:00 - 20:00</div>
                                    <div class="title">Thời gian mở cửa</div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box green-bg" style="background-color: #747d8c;">
                        <div class="row">
                            <div class="col-xs-4"><i class="fa fa-play"></i></div>
                            <div class="col-xs-7">
                                <div class="count" th:text="${numberOfStaff}">4</div>
                                <div class="title">Số thợ cắt tóc</div>
                            </div>
                        </div>


                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

            </div>
            <!--/.row-->


            <!-- Today status end -->


            <div class="row">

                <div class="col-lg-9 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-flag-o red"></i><strong>Số lượt mỗi thợ cắt tóc</strong></h2>

                        </div>
                        <div class="panel-body">
                            <table class="table bootstrap-datatable countries">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên nhân viên</th>
                                    <th>Số điện thoại</th>
                                    <th>Số lượt đã phụ trách</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="e:${employeeAndTurnDtos}">
                                    <td th:text="${e.employee.id}"></td>
                                    <td th:text="${e.employee.lastName}+' '+${e.employee.firstName}"></td>
                                    <td th:text="${e.employee.phoneNumber}"></td>
                                    <td th:text="${e.numberOfTurns}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!--/col-->


            </div>


            <!-- statics end -->


            <!-- project team & activity start -->
            <div class="row">


                <div class="col-lg-8">
                    <!--Project Activity start-->
                    <section class="panel">
                        <div class="panel-body progress-panel">
                            <div class="row">
                                <div class="col-lg-8 task-progress pull-left">
                                    <h1>Lịch hẹn sắp xếp theo ngày</h1>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </div>
                        <table class="table table-hover personal-task">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Số điện thoại khách hàng</th>
                                <th>Thời gian đặt hẹn</th>
                                <th>Tình trạng check-in</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="booking:${listOfOnlineBookings}">
                                <td th:text="${booking.id}"></td>
                                <td th:text="${booking.customer.phoneNumber}"></td>
                                <td th:text="${#temporals.format(booking.chosenTimeSlot, 'dd-MM-yyyy')}==${#temporals.format(today, 'dd-MM-yyyy')}?'Hôm nay'+', '+${#temporals.hour(booking.chosenTimeSlot)} +' giờ '+ ${#temporals.minute(booking.chosenTimeSlot)}+' phút':${#temporals.format(booking.chosenTimeSlot, 'dd-MM-yyyy')}  +', '+${#temporals.hour(booking.chosenTimeSlot)} +' giờ '+ ${#temporals.minute(booking.chosenTimeSlot)}+' phút'"></td>
                                <td th:text="${booking.status}=='online'?'Chưa check-in'"></td>
                            </tr>

                            </tbody>
                        </table>
                    </section>
                    <!--Project Activity end-->
                </div>
            </div>
            <br><br>

<!--            <div class="row">-->
<!--                <div class="col-md-6 portlets">-->
<!--                    <div class="panel panel-default">-->
<!--                        <div class="panel-heading">-->
<!--                            <h2><strong>Calendar</strong></h2>-->
<!--                            <div class="panel-actions">-->
<!--                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>-->
<!--                                <a href="#" class="wclose"><i class="fa fa-times"></i></a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <br><br><br>-->
<!--                        <div class="panel-body">-->
<!--                            &lt;!&ndash; Widget content &ndash;&gt;-->

<!--                            &lt;!&ndash; Below line produces calendar. I am using FullCalendar plugin. &ndash;&gt;-->
<!--                            <div id="calendar"></div>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->


<!--            </div>-->
            <!-- project team & activity end -->

        </section>

    </section>
    <!--main content end-->
</div>
</body>
</html>
