<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Khách hàng walk-in</title>
</head>
<body>
<div layout:fragment="content">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-file-text-o"></i> Khách hàng walk-in</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/admin/home}">Home</a></li>
                        <li><i class="icon_document_alt"></i>Sắp xếp</li>

                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Check in cho khách walk-in
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal " th:action="@{/admin/walk-in/update-staff}" method="post">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label font-weight-bold">Số điện thoại khách hàng</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="phoneNumber" value="0903111111">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Chọn dịch vụ</label>
                                    <div class="col-lg-10">
<!--                                        <p class="form-control-static" th:text="${bookingTemp.customer.phoneNumber}">address</p>-->
                                        <div style="overflow: auto;height: 250px;margin-top: 25px;margin-bottom: 25px;box-shadow: 0 5px 14px rgb(0 0 0 / 20%);font-size:20px;padding:30px;" class="overflow-box">
                                                <h3 class="text-center">Đánh dấu dịch vụ</h3>
                                                <th:block th:each="s:${services}">
                                                    <input type="checkbox" name="serviceItems" class="big-checkbox" th:id="${s.id}"  th:value="${s.id}"/>&nbsp;&nbsp;
                                                    <label th:text="${s.serviceName}+' (-'+${s.getPriceFormat()}+'K-)'" th:for="${s.id}" class="hover-text"></label></br>
                                                </th:block>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">Tiến hành check-in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</div>
</body>
</html>