<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Site Metas -->

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" th:href="@{/client/images/favicon.ico}" type="image/x-icon" />
<link rel="apple-touch-icon" th:href="@{/client/images/apple-touch-icon.png}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/client/css/bootstrap.min.css}">
<!-- Site CSS -->
<link rel="stylesheet" th:href="@{/client/style.css}">
<link rel="stylesheet" th:href="@{/client/mystyle.css}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" th:href="@{/client/css/versions.css}">
<!-- Responsive CSS -->
<link rel="stylesheet" th:href="@{/client/css/responsive.css}">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/client/css/custom.css}">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="barber_version">

<!-- LOADER -->
<div id="preloader">
    <div class="cube-wrapper">
        <div class="cube-folding">
            <span class="leaf1"></span>
            <span class="leaf2"></span>
            <span class="leaf3"></span>
            <span class="leaf4"></span>
        </div>
        <div class="mus">
            <img src="images/lode-img.png" alt="" />
        </div>
        <span class="loading" data-name="Loading">StyleBarber Loading</span>
    </div>
</div><!-- end loader -->
<!-- END LOADER -->

<!--<div class="top-add alert alert-light alert-dismissible">-->
<!--    <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--    <strong>Success!</strong> This alert box could indicate a successful or positive action.-->
<!--</div>-->
<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="client/images/mylogo22.png" alt="" />
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/home}">TRANG CHỦ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/service}">DỊCH VỤ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact}">LIÊN HỆ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/hair-style}">KHÁM PHÁ KIỂU TÓC</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/about}">GIỚI THIỆU</a></li>
                    <li class="nav-item" th:if="${session.ISLOGIN}!=true"><a class="nav-link"th:href="@{/login}">ĐĂNG NHẬP</a></li>
                    <li class="nav-item" th:if="${session.ISLOGIN}==true">
                        <a style="font-weight:bold;" th:text="${session.PHONENUMBER}" class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/customer-info/(id=${session.CUSTOMERID})}">Thông tin cá nhân</a>
                            <a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>
<!-- End header -->
<div layout:fragment="content">

</div>
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script th:src="@{/client/js/all.js}"></script>
<script th:src="@{/client/js/responsive-tabs.js}"></script>
<!-- ALL PLUGINS -->
<script th:src="@{/client/js/custom.js}"></script>

<script th:inline="javascript">



         (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);

</script>
</body>
</html>