<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/client-layout">
<head>
    <meta charset="UTF-8">
    <title>Về chúng tôi</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="all-page-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="title title-1 text-center">
                            <div class="much">
                                <img src="uploads/mustache.png" alt=""/>
                            </div>

                            <div class="title--heading">
                                <h1>Về chúng tôi</h1>
                            </div>
                            <div class="clearfix"></div>

                            <ol class="breadcrumb">
                                <li><a href=""></a></li>
                                <li class="active">GIỚI THIỆU</li>
                            </ol>
                        </div>
                        <!-- .title end -->
                    </div>
                </div>
            </div>
        </div><!-- end all-page-bar -->
        <div class="section wb">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-left">
                        <div class="message-box">
                            <h4>Giới thiệu</h4>
                            <h2>Chào mừng bạn đến Style Barber</h2>
                            <p> Sứ mệnh của Style Barber Store là giúp nam giới Việt Nam có được vẻ ngoài đẹp trai, tinh thần sảng khoái thu hút phái đẹp. Với kinh nghiệm phục vụ hàng triệu nam giới Việt thông qua việc chuyên cung cấp các sản phẩm chăm sóc tóc, da mặt, dầu gội…của chuỗi cắt tóc nam Style Barber. Style Barber Store khẳng định được vị thế là nhà phân phối mỹ phẩm nam chính hãng giá tốt nhất thị trường. Song song với sự phát triển của xã hội và nhu cầu chăm sóc tăng cao của nam giới vì chính ngoại hình giúp phái mạnh trở nên tự tin hơn, có nhiêu cơ hội trong cuộc sống. </p>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->
                    <div class="col-md-6 text-center">
                        <div class="right-box">
                            <img class="img-fluid" src="client/uploads/about-img.jpg" alt="" />
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="hr1">

                <div class="row">
                    <div class="col-md-12">
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">Chất lượng thật - Giá trị thật</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">Chính sách cho khách hàng</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">Hỗ trợ giao hàng toàn quốc</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab_a">
                                    <p>Style Barber Store đa dạng hoá tất cả các sản phẩm giúp nam giới tự tin hơn và bứt phá trong cuộc sống. Hơn 200 mặt hàng tiêu dùng và hơn 100 sản phẩm chuyên dụng chăm sóc tóc, chăm sóc da, sản phẩm underwear đồ lót, tất nam… </p>
                                </div>
                                <div class="tab-pane fade" id="tab_b">
                                    <p>Hàng ngàn khách hàng đã sử dụng sản phẩm của Style Barber Store. Tất cả khách hàng của Style Barber đều sử dụng sản phẩm Style Barber Store cung cấp. Chính sách đổi trả hàng không cần lý do trên tất cả hệ thống cửa hàng Style Barber trên toàn quốc. Style Barber Store làm tất cả vì sự hài lòng của khách hàng.</p>
                                </div>
                                <div class="tab-pane fade" id="tab_c">
                                    <p>Vận chuyển nhanh chóng, giao hàng tận nơi. Gọi điện đặt hàng là có hàng luôn. Thanh toán ship COD an toàn tiện lợi, phù hợp với mọi khách hàng.</p>
                                </div>
                            </div><!-- tab content -->
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->
<!--        <div class="section wb">-->
<!--            <div class="container">-->
<!--                <div class="row align-items-center">-->
<!--                    <div class="col-md-6 text-left">-->
<!--                        <div class="message-box">-->
<!--                            <h4>About</h4>-->
<!--                            <h2>Welcome to SMBarber</h2>-->
<!--                            <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>-->

<!--                            <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>-->

<!--                            <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>-->
<!--                        </div>&lt;!&ndash; end messagebox &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                    <div class="col-md-6 text-center">-->
<!--                        <div class="right-box">-->
<!--                            <img class="img-fluid" src="uploads/about-img.jpg" alt="" />-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end row &ndash;&gt;-->

<!--                <hr class="hr1">-->

<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="about-tab">-->
<!--                            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">-->
<!--                                <li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">Our Mission</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">Why Us?</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">About Us</a></li>-->
<!--                            </ul>-->
<!--                            <div class="tab-content">-->
<!--                                <div class="tab-pane fade show active" id="tab_a">-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque tortor mi, eget mattis velit sagittis id. Duis ornare mauris eu eros interdum, vitae finibus arcu ultricies. Donec vitae felis eleifend, dignissim erat a, pretium diam. Donec eu massa odio. Suspendisse et ornare lacus, pharetra imperdiet ligula.</p>-->
<!--                                    <p>Vestibulum ac quam id lorem semper condimentum. Nulla vel ligula turpis. Nullam luctus, mi nec rhoncus gravida, tortor est semper purus, a feugiat sapien odio non urna. Fusce pellentesque neque ut nisi rhoncus imperdiet. Sed eu purus vel turpis consectetur convallis. Donec a dolor tellus. Phasellus dignissim erat nec ipsum condimentum sollicitudin. </p>-->
<!--                                </div>-->
<!--                                <div class="tab-pane fade" id="tab_b">-->
<!--                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>-->
<!--                                    <ul>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>User Experince</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Full Devices</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Awesome Design</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Visual Impact</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>100% Sincronized</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Custom Support</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="tab-pane fade" id="tab_c">-->
<!--                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; tab content &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end row &ndash;&gt;-->

<!--                <hr class="hr1">-->

<!--                <div class="row text-center">-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="owl-services owl-carousel owl-theme">-->

<!--                            <div class="service-widget">-->
<!--                                <div class="post-media wow fadeIn">-->
<!--                                    <a href="uploads/barber_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>-->
<!--                                    <img src="uploads/barber_01.jpg" alt="" class="img-responsive img-rounded">-->
<!--                                </div>-->
<!--                                <div class="dit-box">-->
<!--                                    <h3>Show us Your Graft Style</h3>-->
<!--                                    <p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; end service &ndash;&gt;-->

<!--                            <div class="service-widget">-->
<!--                                <div class="post-media wow fadeIn">-->
<!--                                    <a href="uploads/barber_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>-->
<!--                                    <img src="uploads/barber_02.jpg" alt="" class="img-responsive img-rounded">-->
<!--                                </div>-->
<!--                                <div class="dit-box">-->
<!--                                    <h3>Outstanding Barber Shop</h3>-->
<!--                                    <p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; end service &ndash;&gt;-->

<!--                            <div class="service-widget">-->
<!--                                <div class="post-media wow fadeIn">-->
<!--                                    <a href="uploads/barber_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>-->
<!--                                    <img src="uploads/barber_03.jpg" alt="" class="img-responsive img-rounded">-->
<!--                                </div>-->
<!--                                <div class="dit-box">-->
<!--                                    <h3>The Barber Materials</h3>-->
<!--                                    <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; end service &ndash;&gt;-->

<!--                            <div class="service-widget">-->
<!--                                <div class="post-media wow fadeIn">-->
<!--                                    <a href="uploads/barber_04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>-->
<!--                                    <img src="uploads/barber_04.jpg" alt="" class="img-responsive img-rounded">-->
<!--                                </div>-->
<!--                                <div class="dit-box">-->
<!--                                    <h3>The Barber Materials</h3>-->
<!--                                    <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; end service &ndash;&gt;-->

<!--                            <div class="service-widget">-->
<!--                                <div class="post-media wow fadeIn">-->
<!--                                    <a href="uploads/barber_05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>-->
<!--                                    <img src="uploads/barber_05.jpg" alt="" class="img-responsive img-rounded">-->
<!--                                </div>-->
<!--                                <div class="dit-box">-->
<!--                                    <h3>The Barber Materials</h3>-->
<!--                                    <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; end service &ndash;&gt;-->

<!--                            <div class="service-widget">-->
<!--                                <div class="post-media wow fadeIn">-->
<!--                                    <a href="uploads/barber_06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>-->
<!--                                    <img src="uploads/barber_06.jpg" alt="" class="img-responsive img-rounded">-->
<!--                                </div>-->
<!--                                <div class="dit-box">-->
<!--                                    <h3>The Barber Materials</h3>-->
<!--                                    <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; end service &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end section &ndash;&gt;-->

<!--        <div id="testimonials" class="parallax section db parallax-inner-bg">-->
<!--            <div class="container">-->
<!--                <div class="section-title row text-center">-->
<!--                    <div class="col-md-8 offset-md-2">-->
<!--                        <small>LET'S SEE OUR TESTIMONIALS</small>-->
<!--                        <h3>HAPPY TESTIMONIALS</h3>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; end title &ndash;&gt;-->

<!--                <div class="row">-->
<!--                    <div class="col-md-12 col-sm-12">-->
<!--                        <div class="testi-carousel owl-carousel owl-theme">-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_01.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>James Fernando <small>- Manager of Racer</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3>Wonderful Support!</h3>-->
<!--                                    <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_02.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>Jacques Philips <small>- Designer</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3>Awesome Services!</h3>-->
<!--                                    <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3>Great & Talented Team!</h3>-->
<!--                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3> Great & Talented Team!</h3>-->
<!--                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; end carousel &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end section &ndash;&gt;-->
        <div id="barbers" class="section lb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3>Thành viên nhóm 1</h3>
                    </div>
                </div><!-- end title -->

                <div class="row dev-list text-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_01.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Lê Minh</h3>
                                    <small>The Founder</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Lê Minh from VietNam. I am senior art director and founder of The Barber Shop Company.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_03.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Nguyễn Minh Thoại</h3>
                                    <small>The Barber</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Thoại from VietNam. I am senior art director and barber of the Barber Shop Market.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_02.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Lương Vinh Hiển</h3>
                                    <small>The Barber</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Hiển from VietNam. I am senior art director and barber of the Barber Shop Website.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_02.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Hoàng Thiên Ân</h3>
                                    <small>The Barber</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Ân from VietNam. I am senior art director and barber of the Barber Shop Website.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->
        <div id="testimonials" class="parallax section db parallax-inner-bg">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <small>TRẢI NGHIỆM KHÁCH HÀNG</small>
                        <h3>ĐÁNH GIÁ TÍCH CỰC</h3>
                    </div>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="testi-carousel owl-carousel owl-theme">
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_01.png" alt="" class="img-responsive alignright">
                                    <h4>Việt Hoàng <small>- thành viên shop</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Tuyệt vời !</h3>
                                    <p class="lead">Dịch vụ tốt, nhân viên nhiệt tình, chu đáo !</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_02.png" alt="" class="img-responsive alignright">
                                    <h4>Long Trần <small>- Khách hàng</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Đẹp</h3>
                                    <p class="lead">Thợ cắt tóc tay nghề rất tốt, nhiều kiểu tóc rất ok !</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_03.png" alt="" class="img-responsive alignright">
                                    <h4>Huy Nguyễn <small>- Khách hàng</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Không có lời phàn nàn !</h3>
                                    <p class="lead">Tiệm cắt quá tốt, quá đẹp, không thể chê vào đâu được !</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_03.png" alt="" class="img-responsive alignright">
                                    <h4>Thắng Lê <small>- thành viên shop</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Đặt hẹn rất nhanh !</h3>
                                    <p class="lead">Cảm thấy chức năng đặt hẹn rất ok, chỉ 5 phút sau khi đặt là đã có nhân viên gọi điện xác nhận lịch</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                        </div><!-- end carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->
        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-links">
                            <a th:href="@{/home}">Trang chủ</a>
                            <a th:href="@{/service}">Dịch vụ</a>
                            <a th:href="@{/contact}">Liên hệ</a>
                            <a th:href="@{/booking}">Đặt lịch</a>
                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">Group 1</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div>
</div>
</body>
</html>