<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/client-layout">
<head>
    <meta charset="UTF-8">
    <title>Đặt hẹn</title>
    <link rel="stylesheet" th:href="@{/client/servicebox.css}">
</head>
<body>
<div layout:fragment="content">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script th:inline="javascript">
            $(document).ready(function () {
    $('#checkBtn').click(function(event) {

      checked = $("input[type=checkbox]:checked").length;

      if(!checked) {
        alert("Anh/ chị nên chọn ít nhất một dịch vụ để đặt hẹn");
        return false;
      }

    });
});
        </script>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="all-page-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="title title-1 text-center">
                            <div class="much">
                                <img src="uploads/mustache.png" alt=""/>
                            </div>

                            <div class="title--heading">
                                <h1>Let schedule our meeting</h1>
                            </div>
                            <div class="clearfix"></div>

                            <ol class="breadcrumb">
                                <li><a th:href="@{/home}">HOME</a></li>
                                <li class="active">Appointment</li>
                            </ol>
                        </div>
                        <!-- .title end -->
                    </div>
                </div>
            </div>
        </div><!-- end all-page-bar -->

        <div id="appointment" class="section wb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <small>KEEP YOUR SIT IN JUST 30 SECONDS, ONLY WITH PHONE NUMBER, CANCEL ANYTIME</small>
                        <h3>BOOKING INFORMATION</h3>
                    </div>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="contact_form">
                            <div id="message"></div>
                            <form th:action="@{/booking/process-booking}" method="post">
                                <fieldset class="row row-fluid">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h2 class="font-weight-bold">Salon name</h2>
                                        <p th:text="${salon.salonName}"></p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h2 class="font-weight-bold">Salon address</h2>
                                        <p th:text="${salon.address}"></p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h2 class="font-weight-bold">Your phone number</h2>
                                        <p th:text="${customer.phoneNumber}"></p>
                                    </div>
                                    <input type="hidden" name="salonId" th:value="${salon.id}">
                                    <input type="hidden" name="customerId" th:value="${customer.id}">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h2 class="font-weight-bold">Pick your services</h2>
                                        <div class="overflow-box">
                                            <div class="services-container">
                                                <h3 class="text-center">Check me</h3>
                                                <th:block th:each="s:${services}">
                                                    <input type="checkbox" name="serviceItems" title="Chọn ít nhất một dịch vụ để đặt hẹn" class="big-checkbox" th:id="${s.id}"  th:value="${s.id}"/>&nbsp;&nbsp;
                                                    <label th:text="${s.serviceName}+' (-'+${s.getPriceFormat()}+'K-)'" th:for="${s.id}" class="hover-text"></label></br>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h2 class="font-weight-bold">Pick your free time</h2>
                                        <table class="table time-table">
                                            <thead>
                                            <tr>
                                                <th scope="col" th:each="p:${listPair}" class="h3"
                                                    th:text="'Ngày '+${#temporals.format(p.getKey(), 'dd-MM')}">
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td th:each="p:${listPair}">
                                                    <ul>
                                                        <li th:each="t:${p.getValue()}">
                                                            <div class="form-check">
                                                                <div th:if="${t.full}==true">
                                                                    <span style="color:red;" class="font-weight-bold">(Full) </span>
                                                                    <label th:for="${t.getChosenTime()}" class="text-secondary"
                                                                           th:text="${#temporals.hour(t.getChosenTime())} +' giờ '+ ${#temporals.minute(t.getChosenTime())}+' phút'"></label>
                                                                </div>
                                                                <div th:if="${t.full}==false">
                                                                    <input type="radio" th:id="${t.getChosenTime()}" class="big-radio" name="chosenTimeSlot"
                                                                           th:value="${t.getChosenTime()}" title="Chọn khung thời gian bạn muốn đặt hẹn" required th:disabled="${t.passed}">&nbsp;
                                                                    <label th:for="${t.getChosenTime()}" class="hover-text" th:style="${t.passed}?'color:#afafaf':''"
                                                                           th:text="${#temporals.hour(t.getChosenTime())} +' giờ '+ ${#temporals.minute(t.getChosenTime())}+' phút'"></label>
                                                                </div>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                            </tr>


                                            </tbody>


                                        </table>

                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h2 class="">You come with others ? (If we do not have enough hairdressers, we will let you know)</h2>
                                        <textarea class="form-control" name="description" id="description" rows="6"
                                                  placeholder="Ex: I come with 3 people/ I come with my kids"></textarea>
                                    </div>
                                    <div class="form-btn text-center">
                                        <button type="submit" value="SEND" id="checkBtn"
                                                class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Finish your booking
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->


        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-links">
                            <a th:href="@{/home}">Home</a>
                            <a th:href="@{/service}">Services</a>
                            <a th:href="@{/contact}">Contact</a>
                            <a th:href="@{/booking}">Booking</a>
                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a>
                            Design By : <a href="https://html.design/">Group 1</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div>
</div>
</body>
</html>