<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/client-layout">
<head>
    <meta charset="UTF-8">
    <title>Liên hệ</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="all-page-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="title title-1 text-center">
                                <div class="much">
                                    <img src="uploads/mustache.png" alt=""/>
                                </div>

                                <div class="title--heading">
                                    <h1>Liên hệ</h1>
                                </div>
                                <div class="clearfix"></div>


                            </div>
                            <!-- .title end -->
                        </div>
                    </div>
                </div>
            </div><!-- end all-page-bar -->

            <div id="contact" class="section wb">
                <div class="container">
                    <div class="section-title row text-center">
                        <div class="col-md-8 offset-md-2">
                            <small>LET'S MAKE AN CONTACT FOR YOUR LIFE</small>
                            <h3>Contact</h3>
                        </div>
                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="contact_form">
                                <div id="message"></div>
                                <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                                    <fieldset class="row row-fluid">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Give us more details.."></textarea>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Submit</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="map-box">
                <div class="container-fluid">
                    <div id="map"></div>
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="copyrights">
                <div class="container">
                    <div class="footer-distributed">
                        <div class="footer-left">
                            <p class="footer-links">
                                <a th:href="@{/home}">Trang chủ</a>
                                <a th:href="@{/service}">Dịch vụ</a>
                                <a th:href="@{/contact}">Liên hệ</a>
                                <a th:href="@{/booking}">Đặt lịch</a>
                            </p>
                            <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">html design</a></p>
                        </div>
                    </div>
                </div><!-- end container -->
            </div><!-- end copyrights -->
        </div>
    </div>
</body>
</html>