<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/client-layout">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật thông tin cá nhân</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="all-page-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="title title-1 text-center">
                            <div class="much">
                                <img src="uploads/mustache.png" alt=""/>
                            </div>

                            <div class="title--heading">
                                <h1>Cập nhật</h1>
                            </div>
                            <div class="clearfix"></div>


                        </div>
                        <!-- .title end -->
                    </div>
                </div>
            </div>
        </div><!-- end all-page-bar -->

        <div id="contact" class="section wb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">

                        <h3>Cập nhật thông tin</h3>
                    </div>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="contact_form">
                            <div id="message"></div>
                            <form class="row" th:action="@{/customer-save}" method="put">

                                <fieldset class="row row-fluid">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>(<span style="color:red;">*</span>) Số điện thoại</label>
                                        <input type="hidden" name="id" th:value="${customer.id}">
                                        <input type="text" name="phoneNumber" th:value="${customer.phoneNumber}" pattern="(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}" title="Không được để trống số điện thoại" required class="form-control" placeholder="Số điện thoại của bạn">
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>(<span style="color:red;">*</span>) Mật khẩu</label>
                                        <input type="password"  name="password" th:value="${customer.password}" pattern="[0-9]{6}" class="form-control" minlength="6" maxlength="6" title="Nhập mật khẩu (6 chữ số)" required placeholder="Mật khẩu...(6 chữ số)">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Tên gọi của bạn</label>
                                        <input type="text" name="nickName" th:value="${customer.nickName}" class="form-control" placeholder="Tên gọi của bạn...">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Địa chỉ email</label>
                                        <input type="text" name="email" th:value="${customer.email}" class="form-control" placeholder="địa chỉ email....">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Cập nhật</button>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div class="map-box">
            <div class="container">
                <div id="map"></div>
            </div><!-- end container -->
        </div><!-- end section -->

        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-links">
                            <a th:href="@{/home}">Trang chủ</a>
                            <a th:href="@{/service}">Dịch vụ</a>
                            <a th:href="@{/contact}">Liên hệ</a>
                            <a th:href="@{/booking}">Đặt lịch</a>
                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">html design</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div>
</div>
</body>
</html>