<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/client-layout">
<head>
    <meta charset="UTF-8">
    <title>Kiểu tóc mới</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="all-page-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="title title-1 text-center">
                            <div class="much">
                                <img src="uploads/mustache.png" alt=""/>
                            </div>

                            <div class="title--heading">
                                <h1>NEW STYLES</h1>
                            </div>
                            <div class="clearfix"></div>

                            <ol class="breadcrumb">
                                <li><a th:href="@{/home}">HOT</a></li>
                                <li class="active">TREND 2021</li>
                            </ol>

                        </div>
                        <!-- .title end -->
                    </div>
                </div>
            </div>
        </div><!-- end all-page-bar -->

        <div id="barbers" class="section lb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <small>Discover</small>
                        <h3>OUR NEW TRENDS</h3>
                    </div>
                </div><!-- end title -->

                <div class="row dev-list text-center">


                    <div th:each="hs:${hairStyles}" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img th:src="${hs.thumbnail}" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a th:href="@{'/hair-style/'+${hs.id}}" class="btn grd1"> Xem chi tiết</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-title">
                                <h3 th:text="${hs.title}">Phá cách với kiểu tóc nam Side Part vuốt rủ và học cách vuốt trong tích tắc</h3>
                            </div>
                            <!-- end title -->
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->






                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->



        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-links">
                            <a th:href="@{/home}">Home</a>
                            <a th:href="@{/service}">Services</a>
                            <a th:href="@{/contact}">Contact</a>
                            <a th:href="@{/booking}">Booking</a>

                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">Group 1</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div>
</div>
</body>
</html>