<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/client-layout">
<head>
    <title>BARBERIA - Trang Chủ</title>
</head>
<body>
<div layout:fragment="content">
    <div class="input-phone-number-form-wrapper">
        <form th:action="@{/booking/get-customer}" method="post">
            <div class="form-title">
                <div class="slogan">MAKING APPOINTMENT IN JUST 30 SECONDS</div>
                <div class="text">No registration, pay after</div>
            </div>
            <div class="input-form">
                <input type="text" class="input-form-box" th:value="${session.PHONENUMBER}" required pattern="(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}" name="phoneNumber" title="Vui lòng nhập số điện thoại để đặt lịch" placeholder="Enter your phone number here...">
                <input type="submit" class="btn-input-phone-number" value="BOOKING NOW">
            </div>
        </form>
    </div>
    <div id="home" class="parallax">
        <div id="full-width" class="owl-carousel owl-theme home-hero">
            <div class="text-center item slider-01 display-table overlay">
                <div class="display-table-cell">
                    <div class="big-tagline text-center">
                        <h2><strong>21 KIỂU TÓC NAM</strong><br>
                            </h2>
                        <p class="lead">HOT TREND, <br>ĐÓN 2021!</p>
                        <a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="text-center item slider-02 display-table overlay">
                <div class="display-table-cell">
                    <div class="big-tagline text-center">
                        <h2><strong>GỘI MASSAGE DƯỠNG SINH</strong><br>
                            </h2>
                        <p class="lead">+Vuốt tạo kiểu, <br>chỉ 40K!</p>
                        <a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="text-center item slider-03 display-table overlay">
                <div class="display-table-cell">
                    <div class="big-tagline text-center">
                        <h2><strong>THAY ĐỔI KIỂU TÓC</strong><br>
                            "Mình có đẹp hơn"</h2>
                        <p class="lead">Đặt lịch giữ chỗ, <br>CHỈ VỚI 30 GIÂY!</p>
                        <a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">ĐẶT LỊCH NGAY</a>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- end section -->

<!--    <div class="input-phone-number-form-wrapper">-->
<!--        <form th:action="@{/booking/get-customer}" method="post">-->
<!--            <div class="form-title">-->
<!--                <div class="slogan">ĐẶT LỊCH GIỮ CHỖ CHỈ 30 GIÂY</div>-->
<!--                <div class="text">Cắt xong trả tiền, hủy lịch không sao</div>-->
<!--            </div>-->
<!--            <div class="input-form">-->
<!--                <input type="text" class="input-form-box" required name="phoneNumber" placeholder="Nhập SDT để đặt lịch">-->
<!--                <input type="submit" class="btn-input-phone-number" value="ĐẶT LỊCH NGAY">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="section wb">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-left">
                        <div class="message-box">
                            <h4>Giới thiệu</h4>
                            <h2>Chào mừng bạn đến Style Barber</h2>
                            <p> Sứ mệnh của Style Barber Store là giúp nam giới Việt Nam có được vẻ ngoài đẹp trai, tinh thần sảng khoái thu hút phái đẹp. Với kinh nghiệm phục vụ hàng triệu nam giới Việt thông qua việc chuyên cung cấp các sản phẩm chăm sóc tóc, da mặt, dầu gội…của chuỗi cắt tóc nam Style Barber. Style Barber Store khẳng định được vị thế là nhà phân phối mỹ phẩm nam chính hãng giá tốt nhất thị trường. Song song với sự phát triển của xã hội và nhu cầu chăm sóc tăng cao của nam giới vì chính ngoại hình giúp phái mạnh trở nên tự tin hơn, có nhiêu cơ hội trong cuộc sống. </p>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->
                    <div class="col-md-6 text-center">
                        <div class="right-box">
                            <img class="img-fluid" src="client/uploads/about-img.jpg" alt="" />
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="hr1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">Chất lượng thật - Giá trị thật</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">Chính sách cho khách hàng</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">Hỗ trợ giao hàng toàn quốc</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab_a">
                                    <p>Style Barber Store đa dạng hoá tất cả các sản phẩm giúp nam giới tự tin hơn và bứt phá trong cuộc sống. Hơn 200 mặt hàng tiêu dùng và hơn 100 sản phẩm chuyên dụng chăm sóc tóc, chăm sóc da, sản phẩm underwear đồ lót, tất nam… </p>
                                </div>
                                <div class="tab-pane fade" id="tab_b">
                                    <p>Hàng ngàn khách hàng đã sử dụng sản phẩm của Style Barber Store. Tất cả khách hàng của Style Barber đều sử dụng sản phẩm Style Barber Store cung cấp. Chính sách đổi trả hàng không cần lý do trên tất cả hệ thống cửa hàng Style Barber trên toàn quốc. Style Barber Store làm tất cả vì sự hài lòng của khách hàng.</p>
                                </div>
                                <div class="tab-pane fade" id="tab_c">
                                    <p>Vận chuyển nhanh chóng, giao hàng tận nơi. Gọi điện đặt hàng là có hàng luôn. Thanh toán ship COD an toàn tiện lợi, phù hợp với mọi khách hàng.</p>
                                </div>
                            </div><!-- tab content -->
                        </div>
                    </div><!-- end col -->
                </div>
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="about-tab">-->
<!--                            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">-->
<!--                                <li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">Our Mission</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">Why Us?</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">About Us</a></li>-->
<!--                            </ul>-->
<!--                            <div class="tab-content">-->
<!--                                <div class="tab-pane fade show active" id="tab_a">-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque tortor mi, eget mattis velit sagittis id. Duis ornare mauris eu eros interdum, vitae finibus arcu ultricies. Donec vitae felis eleifend, dignissim erat a, pretium diam. Donec eu massa odio. Suspendisse et ornare lacus, pharetra imperdiet ligula.</p>-->
<!--                                    <p>Vestibulum ac quam id lorem semper condimentum. Nulla vel ligula turpis. Nullam luctus, mi nec rhoncus gravida, tortor est semper purus, a feugiat sapien odio non urna. Fusce pellentesque neque ut nisi rhoncus imperdiet. Sed eu purus vel turpis consectetur convallis. Donec a dolor tellus. Phasellus dignissim erat nec ipsum condimentum sollicitudin. </p>-->
<!--                                </div>-->
<!--                                <div class="tab-pane fade" id="tab_b">-->
<!--                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>-->
<!--                                    <ul>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>User Experince</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Full Devices</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Awesome Design</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Visual Impact</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>100% Sincronized</li>-->
<!--                                        <li><i class="fa fa-circle-o" aria-hidden="true"></i>Custom Support</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="tab-pane fade" id="tab_c">-->
<!--                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; tab content &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end row &ndash;&gt;-->

<!--                <hr class="hr1">-->


            </div><!-- end container -->
        </div><!-- end section -->

<!--        <div id="pricing" class="section lb">-->
<!--            <div class="container">-->
<!--                <div class="section-title row text-center">-->
<!--                    <div class="col-md-8 offset-md-2">-->
<!--                        <small>OUR BABRER PRICING</small>-->
<!--                        <h3>BABRER PRICING</h3>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; end title &ndash;&gt;-->
<!--                <div class="row flex-items-xs-middle flex-items-xs-center">-->

<!--                    &lt;!&ndash; Table #1  &ndash;&gt;-->
<!--                    <div class="col-xs-12 col-lg-4">-->
<!--                        <div class="card text-center">-->
<!--                            <div class="card-block">-->
<!--                                <h4 class="card-title pricing-ti">-->
<!--                                    Shaving-->
<!--                                </h4>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 5</a>-->
<!--                                </div>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 10</a>-->
<!--                                </div>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 15</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Table #1  &ndash;&gt;-->
<!--                    <div class="col-xs-12 col-lg-4">-->
<!--                        <div class="card text-center">-->
<!--                            <div class="card-block">-->
<!--                                <h4 class="card-title pricing-ti">-->
<!--                                    Face Masking-->
<!--                                </h4>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 5</a>-->
<!--                                </div>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 10</a>-->
<!--                                </div>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 15</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Table #1  &ndash;&gt;-->
<!--                    <div class="col-xs-12 col-lg-4">-->
<!--                        <div class="card text-center">-->
<!--                            <div class="card-block">-->
<!--                                <h4 class="card-title pricing-ti">-->
<!--                                    Hair Styling-->
<!--                                </h4>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 5</a>-->
<!--                                </div>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 10</a>-->
<!--                                </div>-->
<!--                                <div class="line-pricing">-->
<!--                                    <h5>Lorem ipsum dolor</h5>-->
<!--                                    <p>Donec eu diam ante. Nam non porta ipsum, nec tristique odio. Etiam vel libero non massa rutrum molestie non non ipsum.</p>-->
<!--                                    <a href="#">$ 15</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


        <div id="barbers" class="section lb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">

                        <h3>Group 1</h3>
                    </div>
                </div><!-- end title -->

                <div class="row dev-list text-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_01.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Lê Minh</h3>
                                    <small>The Founder</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Lê Minh from VietNam. I am senior art director and founder of The Barber Shop Company.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_01.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Nguyễn Minh Thoại</h3>
                                    <small>The Barber</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Thoại from VietNam. I am senior art director and barber of the Barber Shop Market.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_02.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Lương Vinh Hiển</h3>
                                    <small>The Barber</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Hiển from VietNam. I am senior art director and barber of the Barber Shop Website.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="widget our-inner-taem clearfix">
                            <div class="t-top"></div>
                            <div class="hover-br">
                                <img src="client/uploads/barber_team_02.jpg" alt="" class="img-responsive">
                                <div class="social-up-hover">
                                    <div class="footer-social">
                                        <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-box">
                                <div class="widget-title">
                                    <h3>Hoàng Thiên Ân</h3>
                                    <small>The Barber</small>
                                </div>
                                <!-- end title -->
                                <p>Hello guys, I am Ân from VietNam. I am senior art director and barber of the Barber Shop Website.</p>
                            </div>
                            <div class="t-bottom"></div>
                        </div><!--widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div id="testimonials" class="parallax section db parallax-inner-bg">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <small>TRẢI NGHIỆM KHÁCH HÀNG</small>
                        <h3>ĐÁNH GIÁ TÍCH CỰC</h3>
                    </div>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="testi-carousel owl-carousel owl-theme">
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_01.png" alt="" class="img-responsive alignright">
                                    <h4>Việt Hoàng <small>- thành viên shop</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Tuyệt vời !</h3>
                                    <p class="lead">Dịch vụ tốt, nhân viên nhiệt tình, chu đáo !</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_02.png" alt="" class="img-responsive alignright">
                                    <h4>Long Trần <small>- Khách hàng</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Đẹp</h3>
                                    <p class="lead">Thợ cắt tóc tay nghề rất tốt, nhiều kiểu tóc rất ok !</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_03.png" alt="" class="img-responsive alignright">
                                    <h4>Huy Nguyễn <small>- Khách hàng</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Không có lời phàn nàn !</h3>
                                    <p class="lead">Tiệm cắt quá tốt, quá đẹp, không thể chê vào đâu được ! </p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <i class="fa fa-quote-right"></i>
                                    <img src="client/uploads/testi_03.png" alt="" class="img-responsive alignright">
                                    <h4>Thắng Lê <small>- thành viên shop</small></h4>
                                </div>
                                <div class="desc">
                                    <h3>Đặt hẹn rất nhanh!</h3>
                                    <p class="lead">Cảm thấy chức năng đặt hẹn rất ok, chỉ 5 phút sau khi đặt là đã có nhân viên gọi điện xác nhận lịch. </p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                        </div><!-- end carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-links">
                            <a th:href="@{/home}">Home</a>
                            <a th:href="@{/service}">Service</a>
                            <a th:href="@{/contact}">Contact</a>
                            <a th:href="@{/booking}">Booking</a>
                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">Group 1</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div>
</div>
</body>
</html>