<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/client-layout">
<head>
    <meta charset="UTF-8">
    <title>Dịch vụ</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="all-page-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="title title-1 text-center">
                            <div class="much">
                                <img src="uploads/mustache.png" alt=""/>
                            </div>

                            <div class="title--heading">
                                <h1>Dịch vụ</h1>
                            </div>
                            <div class="clearfix"></div>

                            <ol class="breadcrumb">
                                <li><a th:href="@{/home}">Home</a></li>
                                <li class="active">Our Services</li>
                            </ol>
                        </div>
                        <!-- .title end -->
                    </div>
                </div>
            </div>
        </div><!-- end all-page-bar -->

        <div id="services" class="section lb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <small>CHÀO MỪNG TỚI SHOP CHÚNG TÔI</small>
                        <h3>DỊCH VỤ TẠI TIỆM</h3>
                        <hr class="grd1">
                        <p class="lead"></p>
                    </div>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="service-wrap text-center clearfix">
                            <div class="uptop">
                                <img src="uploads/barber_service_01.jpg" alt="" class="img-responsive img-rounded alignleft">
                            </div>
                            <h4>beard, mustache care</h4>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                        </div><!-- end issue -->

                        <div class="service-wrap text-center clearfix">
                            <div class="uptop">
                                <img src="uploads/barber_service_02.jpg" alt="" class="img-responsive img-rounded alignleft">
                            </div>
                            <h4>detailed feather cleaning</h4>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                        </div><!-- end issue -->

                        <div class="service-wrap text-center lastchild clearfix">
                            <div class="uptop">
                                <img src="uploads/barber_service_03.jpg" alt="" class="img-responsive img-rounded alignleft">
                            </div>
                            <h4>facial and skin care</h4>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                        </div><!-- end issue -->
                    </div><!-- end col -->

                    <div class="col-md-6">
                        <div class="service-wrap text-center clearfix">
                            <div class="uptop">
                                <img src="uploads/barber_service_04.jpg" alt="" class="img-responsive img-rounded alignleft">
                            </div>
                            <h4>studio shots</h4>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                        </div><!-- end issue -->

                        <div class="service-wrap text-center clearfix">
                            <div class="uptop">
                                <img src="uploads/barber_service_05.jpg" alt="" class="img-responsive img-rounded alignleft">
                            </div>
                            <h4>forming the beard</h4>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                        </div><!-- end issue -->

                        <div class="service-wrap text-center lastchild clearfix">
                            <div class="uptop">
                                <img src="uploads/barber_service_06.jpg" alt="" class="img-responsive img-rounded alignleft">
                            </div>
                            <h4>hair wash</h4>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                        </div><!-- end issue -->
                    </div><!-- end col -->
                </div>
            </div><!-- end container -->
        </div><!-- end section -->

<!--        <div id="testimonials" class="parallax section db parallax-inner-bg">-->
<!--            <div class="container">-->
<!--                <div class="section-title row text-center">-->
<!--                    <div class="col-md-8 offset-md-2">-->
<!--                        <small>LET'S SEE OUR TESTIMONIALS</small>-->
<!--                        <h3>HAPPY TESTIMONIALS</h3>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; end title &ndash;&gt;-->

<!--                <div class="row">-->
<!--                    <div class="col-md-12 col-sm-12">-->
<!--                        <div class="testi-carousel owl-carousel owl-theme">-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_01.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>James Fernando <small>- Manager of Racer</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3>Wonderful Support!</h3>-->
<!--                                    <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_02.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>Jacques Philips <small>- Designer</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3>Awesome Services!</h3>-->
<!--                                    <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3>Great & Talented Team!</h3>-->
<!--                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            <div class="testimonial clearfix">-->
<!--                                <div class="testi-meta">-->
<!--                                    <i class="fa fa-quote-right"></i>-->
<!--                                    <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                    <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h3> Great & Talented Team!</h3>-->
<!--                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; end carousel &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end section &ndash;&gt;-->

        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-links">
                            <a th:href="@{/home}">Trang chủ</a>
                            <a th:href="@{/service}">Dịch vụ</a>
                            <a th:href="@{/contact}">Liên hệ</a>
                            <a th:href="@{/booking}">Đặt lịch</a>
                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">html design</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div>
</div>
</body>
</html>