
.input-phone-number-form-wrapper{
    padding: 15px 20px;
    background-color: red;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(180deg,#81274d,#c71155);
    border-radius: 8px;
    width: 40%;
    text-align: center;
    display: block;
}

.input-phone-number-form-wrapper .slogan{
    font-size: 26px;
}
.input-phone-number-form-wrapper .text{
    font-size: 16px;
}
.input-phone-number-form-wrapper .slogan,
.input-phone-number-form-wrapper .text{
    color: #fff;
}

.input-form-box{
    padding-left: 15px;
    height: 58px;
    width: 60%;
    font-size: 20px;
    border-radius: 6px;
    border:none;
}
.btn-input-phone-number{
    border-radius: 6px;
    height: 58px;
    width: 34%;
    font-size: 15px;
    cursor: pointer;
    background-color: #fc3;
    color: #000;
    border:none;
    font-family: sans-serif;
    font-weight: bold;
}

